@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=a8IbNovtLWfR7T7bMJwbBJCd9WAx07wZQ9tw&amp;skey=26b1ad320d877a24&amp;v=v15) format('truetype');
}
